<ion-content> 
  <img src="assets/images/banner-top.png"> 
  <ion-grid>    
    <ion-row>
      <ion-col size="6">
        <app-btn-menu [title]="'Vendedores'" [icon]="'address-card'" [routerLink]="['sellers']" ></app-btn-menu>
      </ion-col>
      <ion-col size="6">
        <app-btn-menu [title]="'Compradores'" [icon]="'users'" [routerLink]="['buyers']"></app-btn-menu>
      </ion-col>
      <ion-col size="6">
        <app-btn-menu [title]="'Propiedades'" [icon]="'home'" [routerLink]="['properties']"></app-btn-menu>
      </ion-col>
      <ion-col size="6">
        <app-btn-menu [title]="'Oportunidades'" [icon]="'bullseye'" [routerLink]="['opportunities']"></app-btn-menu>
      </ion-col>
      <ion-col size="6">
        <app-btn-menu [title]="'Mi Cuenta'" [icon]="'info-circle'" [routerLink]="['my-info']"></app-btn-menu>
      </ion-col>
      <ion-col size="6">
        <app-btn-menu [title]="'Salir'" [icon]="'sign-out-alt'"></app-btn-menu>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
